.graph-container{
    width: 48%;
    height: 48%;
    margin: 0.4%;
    background-color: #98e6e673;
}
.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75%;
}
