.btn-group{
    display: flex;
    align-items: center;
}
.btn{
    background-color: var(--main-color);
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.btn:hover{
    background-color: #289e9e;
}
.active{
    background-color: var(--secondary-color);
    pointer-events: none;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}
.form-check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    border-radius: 2px;
}
  input {
    visibility:hidden;
    width: 0px;
}