.toolbar{
    display : flex;
    flex-direction: column;
    height: 25%;
}
.page-button{
    width: 50px;
    height: 20px;
}
.kpi-flex-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
}
.info-flex-bar{
    height:3rem;
    display: flex;
    align-items: center;
}