.toolbar{
    display : flex;
    flex-direction: column;
    height: 20%;
}
.page-button{
    width: 50px;
    height: 20px;
}
.kpi-flex-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
